body {
    display: flex;
    justify-content: center;
}

#screen {
    text-align: right;
}

.buttons-container {
    display: flex;
}

.operation-buttons {
    display: flex;
    flex-direction: column;
}
